
.chatBox {
    border: 1px solid gray;
    border-radius: 3px;
    padding: 20px;
    height: 300px;
    margin-bottom: 20px;
    overflow: scroll;
}

.chatBox .name {
    font-weight: 800;
    /* color: #ab5dda; */
}

input.send-button {
    background-color: #57BC90;
    border-color: #57BC90;
}