#MapContainer{
    height: 500px;
    position: relative;
}

.placesDiv {
    overflow: scroll;
    min-width: 775px;
    margin-left: 40px;
}

.weatherDiv {
    margin-right: 70px;
}

.placesCol {
    min-width: 700px;

}

.globeIcon {
    size: 80;
}

a {
    color: #57BC90;
}


