.Home {
  background-image: url('../public/street.jpg');
  background-size: cover;
  height: 688.89px;
  text-align: center;
  padding: 140px;
  color: white;
}

.text {
  text-shadow: 1px 1px#015249;
  padding: 40px;
  margin-left: 50px;
  border-radius: 3px;
  max-width: 700px;
  max-height: 500px;
  background-color: rgba(87,188,144, .7);
}

.text h2 {
  font-size: 30px;
}

.text a {
  color: #77C9D4;

}


