.cityInfo {
    background-color: rgba(87,188,144, .6);
    color: white;
    text-shadow: 0.6px 0.6px#015249;
    border: 2px solid rgba(1, 82, 73, .25);
    border-radius: 3px;
    margin: 20px 0;
    padding: 20px 50px;
}

.cityInfo span {
    font-weight: 500;
}
