.CountryInfo {
    border: 1px solid #606c76;
    margin: 20px 0;
    padding: 30px 60px;
    
}

.flagImg {
    width: 200px;
    border: 1px solid black;
}

.CountryInfo span {
    font-weight: 800;
}

.Info {
    font-size: 20px;
    margin: 3px 0;
}