.GooglePlaces {
    width: 700px;
    height: 250px;
    margin-top: 30px;
    margin-left: 70px;
    border: 2px solid #ab5dda;
    text-align: left;
    overflow: auto;
    padding-left: 50px;
    padding-top: 20px;
}

.placeIcon {
    clear: left;
    float: left;
    width: 30px;
    margin-right: 10px;
}

.placeName {
    clear: right;
    margin: 5px;
    padding: 5px;
    font-size: 18px;
}