
.Chat h2 {
    font-size: 30px;
}

.chatBox {
    border: 1px solid #606c76;
    border-radius: 3px;
    padding: 20px;
    height: 400px;
    max-width: 800px;
    margin-bottom: 20px;
    overflow: scroll;
    font-size: 18px;
}

.usersBox {
    background-color: rgba(1, 82, 73, .08);
    border: 1px solid rgba(1,82,73, .14); 
    border-radius: 3px;
    padding: 20px 30px;
    font-size: 18px;
    height: 300px;
    max-width: 300px;
    margin-bottom: 20px;
    overflow: scroll;
}

.usersBox span {
    color: #015249; 
}

.chatBox .name {
    font-weight: 800;
    color: #57BC90; 
    margin-left: 5px;
    margin-bottom: 10px;
}

.light-green {
    color: #57BC90; 
}

.dark-green {
    color: #015249
}

input.send-button {
    background-color: #57BC90;
    border-color: #57BC90;
}

.chatCol {
    margin: 20px 70px;
}

.usersCol {
    margin: 20px 30px;
    padding: 100px;
    overflow: scroll;
}