.CountryInfo {
    background-color: rgba(1, 82, 73, .08);
    border: 1px solid rgba(1,82,73, .14); 
    border-radius: 3px;
    border-radius: 3px;
    margin: 20px 0;
    padding: 20px 70px;
}

.CountryInfo img {
    margin-top: 30px;
}

.flagImg {
    width: 200px;
    border: 1px solid #606c76;
    margin-left: 80px;
}

@media screen and (max-width: 549px) {
    .flagImg {
        margin-left: 0;
    }

    .CountryInfo h3 {
        text-align: center;
    }
}

.CountryInfo span {
    font-weight: 800;
}

.Info {
    font-size: 20px;
    margin: 3px 0;
}