.h3Container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

}

.exploreHeading {
    font-size: 1.5em;
}


.globeGiphy {
    height: 50%;
    width: 50%;
    margin: 0 auto;
    border-radius: 50%; 
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.globeIcon {
    display: inline;
    border-radius: 50%; 
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    height: 70px;
    width: 70px;
}

.globeIcon:hover {
    background-color: rgba(87, 188, 144, 0.3);
}

#MapContainer{
    height: 500px;
    position: relative;
}

.grid-container {
    display: flex;
    flex-direction: row;
}

.placesDiv {
    width: 60%;
    margin-left: 20px;
}

.weatherDiv {
    width: 40%;
    margin-right: 20px;
}

@media screen and (max-width: 549px) {

    .globeGiphy {
        height: 90%;
        width: 90%;
    }

    .exploreHeading   {
        font-size: 1.2em;
    }

    .grid-container {
        display: flex;
        flex-direction: column;
    }
    .placesDiv {
        width: 100%;
        margin-top: 20px;
        margin-left: 0;
    }

    .weatherDiv {
        width: 100%;
        margin-bottom: 20px;
    }
}

.placesCol {
    min-width: 700px;

}

.globeIcon {
    margin-right: 10px;
}

.globeIcon:hover {
    color: #57BC90;
}

a {
    color: #57BC90;
}


