#MapContainer{
    height: 500px;
    position: relative;
}

.grid-container {
    display: flex;
    flex-direction: row;
}

.placesDiv {
    width: 50%;
}

.weatherDiv {
    width: 50%;
}

@media screen and (max-width: 549px) {
    .grid-container {
        display: flex;
        flex-direction: column;
    }
    .placesDiv {
        width: 100%;
        margin-top: 20px;
    }

    .weatherDiv {
        width: 100%;
        margin-bottom: 20px;
    }
}

.placesCol {
    min-width: 700px;

}

.globeIcon {
    margin-right: 10px;
}

.globeIcon:hover {
    color: #57BC90;
}

a {
    color: #57BC90;
}


