.Weather {
    box-sizing: border-box;
    background-color: rgba(1, 82, 73, .08);
    border: 1px solid rgba(1,82,73, .14); 
    border-radius: 3px;
    text-align: center;
    margin-top: 20px;
}

.weatherInfo {
    font-size: 22px;
}

