.Weather {
    box-sizing: border-box;
    height: 318px;
    padding: 20px 65px;
    margin-top: 20px;
    background-color: rgba(1, 82, 73, .08);
    border: 1px solid rgba(1,82,73, .14); 
    border-radius: 3px;
    text-align: center;
}

.weatherInfo {
    font-size: 20px;
}

.Weather img {
    padding-top: 25px;
}

@media screen and (min-width: 550px) and (max-width: 908px) {
    .Weather {
        height: 318px;
        padding: 20px 5px;
        margin-top: 20px;
    }

    .weatherInfo {
        font-size: 17px;
    }

    .Weather img {
        padding-top: 5px;
    }

}
